:root {
  --spacing: 0px;
  --base-color: #2f3756;
  --blur: 0px;
  --opacity: 100%;
  --saturate: 100%;
  --contrast: 100%;
  --sepia: 0%;
  --brightness: 100%;
}

body {
  position: relative;
  background-color: #bcf5ff;
}

h1 {
  color: var(--base-color);
}

.input {
  width: 100%;
}

.input-color {
  width: 50%;
}

.button-reset {
  position: absolute;
  margin: 50px 0 0 75px;
}

.button-add-photo {
  position: absolute;
  margin: 90px 0 0 75px;
}

button {
  border-radius: 10px;
  border-color: var(--base-color);
  background-color: #e5e9f5;
}

.reset {
  padding: 5px 37px;
}

button:hover,
.btn:hover {
  border: none;
  background-color: #aaafbe;
}

button:active,
.btn:active {
  background-color: #aaafbe;
}

.image {
  height: 100%;
  width: 100%;
}

.original-photo {
  max-height: 450px;
  max-width: 650px;
  filter: blur(var(--blur)) opacity(var(--opacity)) saturate(var(--saturate)) contrast(var(--contrast)) sepia(var(--sepia)) brightness(var(--brightness));
}

.frame {
  border: var(--spacing) var(--base-color) solid;
}

button,
.preset {
  cursor: pointer;
}

.image-preset-0 {
  filter: blur(0px) opacity(100%) saturate(100%) contrast(100%) sepia(0%) brightness(100%);
}

.image-preset-1 {
  filter: saturate(60%) contrast(90%) sepia(0%) brightness(100%);
}

.image-preset-2 {
  filter: saturate(100%) contrast(100%) sepia(60%) brightness(85%);
}

.image-preset-3 {
  filter: saturate(0%) contrast(100%) sepia(50%) brightness(100%);
}

.image-preset-4 {
  filter: saturate(100%) contrast(160%) sepia(30%) brightness(100%);
}

.image-preset-5 {
  filter: saturate(35%) contrast(120%) sepia(50%) brightness(70%);
}

.btn {
  min-width: 45%;
  border-radius: 10px;
  background-color: #e5e9f5;
  border-color: var(--base-color);
  border-width: 2px;
}

.btn-add-photo {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-container {
  max-width: 650px;
  filter: blur(var(--blur)) opacity(var(--opacity)) saturate(var(--saturate)) contrast(var(--contrast)) sepia(var(--sepia)) brightness(var(--brightness));
}

