@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum/Forum-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 5px;
  padding-right: 5px;
}

header {
  background-color: #030303;
  /* background-image: url("assets/svg/logo.svg"); */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

header li {
  list-style: none;
  padding-right: 76px;
}

header li:last-child {
  padding-right: 0;
}

header ul {
  display: flex;
  max-width: 720px;
}

header li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.welcome-section {
  background-color: #030303;
  height: 750px;
}

.welcome-background {
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 352px);
}

.section-title-dark {
  font-family: Forum;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  align: right;
  margin: 0;
}

.welcome-text {
  font-family: Roboto;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome-title {
  padding-top: 114px;
}

.welcome-button {
  width: 360px;
  height: 75px;
  margin-top: 48px;
  background-color: #710707;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.visiting-section {
  background-color: #ffffff;
  height: 1150px;
  margin-top: 85px;
  margin-bottom: 40px;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  margin-top: -10px;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.virtual-tour-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 100px;
}

.link {
  display: block;
  text-decoration-line: none;
}

.card-image {
  width: 440px;
  height: 285px;
}

.card-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
}

.card-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: -10px;
  margin-top: -10px;
}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.underline-h3 {
  position: relative;
}

.underline-h3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 300px;
  height: 2px;
  left: 0;
  background-color: #710707;
  transition: width 1.5s;
}

.link:hover .underline-h3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 440px;
  height: 2px;
  left: 0;
  background-color: #710707;
}

.container-explore-section {
  display: flex;
  justify-content: space-between;
}

.explore-section {
  background-color: #030303;
  height: 715px;
}

.description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 27px;
  
}

.imagine-with-description {
    float:right;
    margin-left: 60px;
    margin-right: -230px;
    margin-top: 16px;
    
}
.section-explore-title {
    margin-bottom: 102px;
}
#underline-title {
    width: 660px;
}
.yellow {
    color: #CAAA7D;
}