@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum/Forum-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 5px;
  padding-right: 5px;
}

header {
  background-color: #030303;
  /* background-image: url("assets/svg/logo.svg"); */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

header li {
  list-style: none;
  padding-right: 76px;
}

header li:last-child {
  padding-right: 0;
}

header ul {
  display: flex;
  max-width: 720px;
}

header li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.welcome-section {
  background-color: #030303;
  height: 750px;
}

.welcome-background {
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 352px);
}

.section-title-dark {
  font-family: Forum;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  align: right;
  margin: 0;
}

.welcome-text {
  font-family: Roboto;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome-title {
  padding-top: 114px;
}

.welcome-button {
  width: 360px;
  height: 75px;
  margin-top: 48px;
  background-color: #710707;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.visiting-section {
  background-color: #ffffff;
  height: 1150px;
  margin-top: 85px;
  margin-bottom: 40px;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  margin-top: -10px;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.virtual-tour-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 100px;
}

.link {
  display: block;
  text-decoration-line: none;
}

.card-image {
  width: 440px;
  height: 285px;
}

.card-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
}

.card-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: -10px;
  margin-top: -10px;
}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.underline-h3 {
  position: relative;
}

.underline-h3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 300px;
  height: 2px;
  left: 0;
  background-color: #710707;
  transition: width .5s;
}

.link:hover .underline-h3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 440px;
  height: 2px;
  left: 0;
  background-color: #710707;
}

.container-explore-section {
  display: flex;
  justify-content: space-between;
}

.explore-section {
  background-color: #030303;
  height: 715px;
}

.description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 27px;
}

.imagine-with-description {
  float: right;
  margin-left: 60px;
  margin-right: -230px;
  margin-top: 16px;
  width: 720px;
  height: 700px;
}

.section-explore-title {
  margin-bottom: 102px;
}

#underline-title {
  width: 660px;
}

.yellow {
  color: #caaa7d;
}

.video-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}

.section-video-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000;
  width: 720px;
  height: 90px;
  margin-top: -40px;
}

.video {
  width: 1440px;
  height: 629px;
  display: block;
  float: left;
}

.video-section {
  background-color: #ffffff;
  padding-top: 87px;
  height: 848px;
}

.video-nav {
  background-color: #030303;
  width: 1360px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.video-button {
  border: none;
}

.button-prev {
  background: url("assets/img/video-button-prev.png");
  width: 27px;
  height: 30px;
}

.button-play {
  background: url("assets/img/video-button-play.png");
  width: 23px;
  height: 30px;
}

.button-next {
  background: url("assets/img/video-button-next.png");
  width: 27px;
  height: 30px;
}

.button-volume {
  background: url("assets/img/video-button-volume.png");
  width: 38px;
  height: 30px;
}

.button-full-screen {
  background: url("assets/img/video-button-full-screen.png");
  width: 36px;
  height: 36px;
}

.progress-bar {
  width: 820px;
  height: 15px;
}

.volume-control {
  width: 155px;
  height: 15px;
}

.video-button-main {
  width: 220px;
  height: 220px;
  display: block;
  position: absolute;
  margin-top: 205px;
  margin-left: 610px;
  background: url("assets/img/video-button-main.png");
  border: none;
}

.tickets-section {
  background-color: #030303;
  height: 743px;
}

.buy-tickets {
  display: flex;
  flex-direction: row;
}

.buy-tickets-image {
  width: 720px;
  height: 550px;
}

.ticket-type-form {
  margin-left: 60px;
  margin-top: -28px;
  width: 270px;
}

.buy-tickets-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.ticket-type-subtitle {
  margin-bottom: 50px;
}

.tickets-text {
  color: #ffffff !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 22px !important;
}

.radio-button {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #ffffff;
  margin-left: -4px;
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.amount-form {
  margin-left: 240px;
  margin-top: -28px;
  width: 150px;
}

.amount-subtitle {
  text-align: right;
  margin-bottom: -10px;
}

.tickets-text-age {
  text-align: left;
}

.number {
  all: unset;
  width: 3em;
  text-align: center;
}

.button-quantity {
  border: 3px solid #fff;
  width: 142px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -8px;
  margin-bottom: 34px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sign {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}

.buy-tickets-total {
  letter-spacing: 1.65px;
  line-height: 50px;
}

.buy-now-button {
  width: 175px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  background-color: #ffffff;
  float: right;
  margin-top: 18px;
}

.contacts-section {
  background-color: #ffffff;
  height: 813px;
  margin-top: 10px;
}

.map-image {
  width: 960px;
  height: 620px;
  float: right;
  margin-top: -23px;
}

.contacts-section-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 5px;
  padding-bottom: 1px;
  color: #000000;
}

.contacts-section-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.contacts-section-subtitle-first {
  margin-top: 125px;
}

.contacts-section-text-first {
  margin-top: 50px;
}