@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum/Forum-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

/* HEADER */

.buy-now-button,
.welcome-button {
  transition: background-color .5s;
}

.buy-now-button:hover,
.welcome-button:hover {
  background-color: #9d8665;
}

a {
  transition: color .5s;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #9d8665 !important;
}

/* nav {
  overflow-x: hidden;
} */

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

header {
  background-color: #030303;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding-right: 0;
  padding-left: 0;
}

.header-adaptive {
  width: 100%;
}

.logo {
  margin-right: 25px;
}

header li {
  list-style: none;
  padding: 0 28px;
}

header li:last-child {
  padding-right: 0;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* WELCOME SECTION */

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.welcome-container {
  padding-right: 0;
  padding-left: 0;
}

.welcome-left {
  display: flex;
  height: 810px;
  width: 41.67%;
  margin: 0 auto;
}

.welcome-section {
  background-color: #030303;
}

.welcome-main {
  display: flex;
  position: relative;
}

h1 {
  position: absolute;
  left: -9999px;
}

.section-title-dark {
  font-family: Forum;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  align: right;
  margin: 0;
}

.slider-picture {
  width: 100.3%;
  margin: 0 auto;
  height: auto;
  -webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), transparent);
}

.slider-picture-img {
  width: 100%;
}

.first-slider-picture-img {
  display: none;
  width: 100%;
}

.welcome-text {
  margin-bottom: 100px;
  font-family: Roboto;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome-title {
  position: absolute;
  padding-top: 150px;
  z-index: 1;
}

.welcome-button {
  width: 360px;
  height: 75px;
  padding: 24px 68px;
  background-color: #710707;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.slider-buttons-container {
  display: flex;
  align-items: center;
  background-color: #000;
  max-width: 600px;
  width: 100%;
  height: 120px;
  position: absolute;
  margin-top: -80px;
  right: 0;
}

.arrow-left,
.arrow-right,
.slider-bullet {
  cursor: pointer;
  transition: filter .5s;
}

.slider-bullet.active {
  filter: invert(56%) sepia(35%) saturate(334%) hue-rotate(356deg) brightness(89%) contrast(87%);
}

.arrow-left:hover,
.arrow-right:hover {
  filter: invert(56%) sepia(35%) saturate(334%) hue-rotate(356deg) brightness(89%) contrast(87%);
}

.welcome-slider-buttons {
  display: flex;
  align-items: baseline;
  background-color: #000;
  width: 100%;
  justify-content: space-around;
  padding: 0 50px 0 50px;
}

.slider-counter {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.slider-numbers {
  display: flex;
  column-gap: 10px;
}

.slider-bullets {
  display: flex;
  column-gap: 25px;
}

.slider-arrows {
  display: flex;
  column-gap: 18px;
}

/* VISITING SECTION */
.visiting-section {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  margin-top: 85px;
  margin-bottom: 52px;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  margin-top: -10px;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.virtual-tour-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 100px;
}

.link {
  display: block;
  text-decoration-line: none;
}

.card-image {
  width: 440px;
  height: 285px;
}

.card-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
}

.card-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: -10px;
  margin-top: -10px;
}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.underline-h3 {
  position: relative;
}

.underline-h3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 300px;
  height: 2px;
  left: 0;
  background-color: #710707;
  transition: width .5s;
}

.link:hover .underline-h3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 440px;
  height: 2px;
  left: 0;
  background-color: #710707;
}

/* EXPLORE SECTION */

.container-explore-section {
  display: flex;
  justify-content: space-between;
}

.explore-section {
  background-color: #030303;
  height: 715px;
}

.explore-section-left {
  width: calc(100% - 720px);
}

.description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 27px;
  padding-right: 65px;
}

.section-explore-title {
  margin-bottom: 102px;
}

#underline-title {
  width: 92%;
}

.yellow {
  color: #caaa7d;
}

.explorer-section-image {
  margin-top: 15px;
  width: 720px;
}

.container-explorer-section-image {
  position: relative;
  width: 50%;
  left: calc(60% - 864px);
}

.explorer-slider {
  position: absolute;
  left: calc(55% + 23px);
  top: calc(1% + 8px);
  height: 700px;
}

/* VIDEO SECTION */
.video-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-video-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000;
  width: 720px;
  height: 90px;
  margin-top: -40px;
}

.video-container {
  width: 1440px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  margin-top: 5px;
  max-width: 1440px;
  width: 100%;
  height: auto;
  max-height: 650px;
  display: block;
  float: left;
  object-fit: cover;
}

.video-section {
  background-color: #ffffff;
  padding-top: 87px;
  height: auto;
}

.video-nav {
  background-color: #030303;
  max-width: 1360px;
  width: calc(100% - 80px);
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.hidden {
  display: none !important;
}

.video-button {
  border: none;
}

button.video-button:hover {
  background-color: #030303;
}

.button-play {
  background: url("assets/svg/video-button-play.svg");
  width: 23px;
  height: 30px;
  margin-left: -8px;
}

.button-pause {
  background: url("assets/svg/video-button-pause.svg");
  width: 23px;
  height: 30px;
  margin-left: -8px;
}

.button-volume {
  background: url("assets/svg/video-button-mute-on.svg");
  width: 36px;
  height: 30px;
  margin-left: 10px;
}

.button-volume-off {
  background: url("assets/svg/video-button-mute-off.svg");
  width: 36px;
  height: 30px;
  margin-left: 10px;
}

.button-full-screen {
  background: url("assets/svg/fullscreen.svg");
  width: 36px;
  height: 36px;
  margin-right: -10px;
}

.button-full-screen-exit {
  background: url("assets/svg/fullscreen-exit.svg");
  width: 36px;
  height: 36px;
  margin-right: -10px;
}

.progress-bar {
  -webkit-appearance: none;
  width: 68.5%;
  height: 8px;
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
  border: none;
  outline: none;
  transition: background 450ms ease-in;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
}

.volume-control {
  -webkit-appearance: none;
  width: 11.4%;
  height: 8px;
  background: linear-gradient(to right, #710707 0%, #710707 44%, #c4c4c4 40%, #c4c4c4 100%);
  border: none;
  outline: none;
  transition: background 450ms ease-in;
}

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
}

.video-button-main {
  width: 220px;
  height: 220px;
  display: block;
  position: absolute;
  margin-left: 610px;
  background: url("assets/svg/video-button-main.svg");
  border: none;
}

.video-button-main-1024,
.video-button-main-768,
.video-button-main-420 {
  display: none;
}

.video-slider-container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin-top: 40px;
}

.video-slider-container iframe {
  border: none;
  width: 452px;
  height: 254px;
}

.video-slider-points {
  display: flex;
  column-gap: 27px;
  width: 200px;
  height: 12px;
  margin: 37px auto;
}

.video-slider-bullet,
.video-slider-arrow-left,
.video-slider-arrow-right {
  cursor: pointer;
}

.video-slider-bullet.active {
  filter: invert(8%) sepia(71%) saturate(5702%) hue-rotate(356deg) brightness(87%) contrast(99%);
}

.video-slider-arrow-left:hover,
.video-slider-arrow-right:hover {
  filter: invert(8%) sepia(71%) saturate(5702%) hue-rotate(356deg) brightness(87%) contrast(99%);
}


/* GALLERY SECTION */
.container-gallery-inner-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.8%;
  row-gap: 24px;
  height: 2956px;
  width: 96%;
  max-width: 1440px;
  margin-left: 3px;
}

.gallery-title {
  margin-bottom: 75px;
}

.container-gallery-inner-section img:nth-child(1) {
  margin-top: 55px;
}

.container-gallery-inner-section img:nth-child(11) {
  margin-top: 55px;
}

.container-gallery-section {
  height: 2057px;
  overflow-y: hidden;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), transparent);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), transparent);
}

.gallery-section {
  background-color: #030303;
  height: 2049px;
}

.gallery-picture {
  width: 32.7%;
  max-width: 456px;
}

/* TICKETS SECTION*/

.tickets-section {
  background-color: #fff;
  height: auto;
}

.section-tickets-title {
  margin-bottom: 102px;
  margin-top: -2px;
}

.buy-tickets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buy-tickets-image-1920 {
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 550px;
}

.buy-tickets-image-1024,
.buy-tickets-image-420 {
  display: none;
}

.ticket-type-form {
  margin-left: 60px;
  margin-top: -28px;
  width: 270px;
}

.buy-tickets-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #030303;
}

.ticket-type-subtitle {
  margin-bottom: 50px;
}

.tickets-text {
  color: #030303 !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 22px !important;
}

.radio-button {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #030303;
  margin-left: -4px;
}

.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 13px;
  width: 13px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #030303;
}

.radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-button input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-button input:checked ~ .checkmark:after {
  display: block;
}

.radio-button .checkmark:after {
  top: 2.5px;
  left: 2.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #030303;
}

.amount-form {
  margin-left: 240px;
  margin-top: -28px;
  width: 150px;
}

.amount-subtitle {
  text-align: right;
  margin-bottom: -30px;
}

.tickets-text-age {
  text-align: left;
  margin-top: 55px;
  margin-bottom: 10px;
}

.number {
  all: unset;
  width: 3em;
  text-align: center;
}

.button-quantity {
  border: 4px solid #030303;
  width: 142px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -45px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sign {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #030303;
  cursor: pointer;
  transition: color .5s;
}

.sign:hover {
  color: #9d8665;
}

.buy-tickets-total {
  letter-spacing: 1.65px;
  line-height: 50px;
  margin-top: 90px;
}

.buy-now-button {
  width: 175px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  background-color: #030303;
  float: right;
  margin-top: 18px;
  border: none;
  border-radius: 3px;
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url("./assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*BOOKING TICKETS*/
.popup {
  z-index: 10;
  position: fixed;
  left: -1000%;
  top: calc(50% - 422px);
  width: 1440px;
  height: 845px;
  background-color: #fff;
  transition: left .5s;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
}

.popup-overlay.active {
  display: block;
}

.popup.active {
  left: calc(50% - 720px);
}

.popup-content {
  display: flex;
  margin-top: 93px;
  margin-left: 230px;
}

.popup-logo {
  width: 84px;
  height: 41px;
}

.popup-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55.2px;
  text-transform: uppercase;
  color: #9d8665;
  margin-top: 1px;
}

.popup-text {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: -55px;
  color: #710707;
}

.underline-popup-text {
  position: relative;
}

.underline-popup-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.popup-close {
  background-image: url("./assets/svg/close.svg");
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  background-repeat: no-repeat;
}

.input-contacts {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.date-time {
  display: flex;
  column-gap: 23px;
}

.popup-input {
  width: 390px;
  height: 40px;
}

.popup-input-short {
  width: 182px;
  height: 40px;
}

/* CONTACTS SECTION*/

.map-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  column-gap: 13.9%;
  padding-top: 22px;
  width: 100%;
  max-width: 1440px;
}

.map {
  width: 960px;
  height: 620px;
  margin-top: 13px;
}

.map-container-left {
  order: 1;
}

.contacts-section {
  background-color: #ffffff;
  height: auto;
  margin-top: 10px;
  margin-bottom: -2px;
}

.map-image {
  order: 2;
  width: 100%;
  max-width: 960px;
  height: 100%;
  max-height: 620px;
  padding-top: 14px;
}

.map-image-1024,
.map-image-768,
.map-image-420 {
  display: none;
}

.contacts-section-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 5px;
  padding-bottom: 1px;
  color: #000000;
}

.contacts-section-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  letter-spacing: 0.2px;
  padding-bottom: 5px;
}

.contacts-section-text-first {
  margin-top: 65px;
}

/* FOOTER */

.footer-section {
  background-color: #030303;
  height: 300px;
  padding-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #030303;
}

.footer-logo {
  margin-top: 10px;
  height: 50px;
}

.footer-nav {
  margin-left: -350px;
}

.footer-nav ul {
  float: left;
  margin-left: 120px;
}

.footer-nav ul li {
  margin-bottom: 25px;
}

.footer-nav a,
.footer-second-container {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.social-nav li {
  float: left;
  margin-left: 24px;
  margin-top: 75px;
  border: 1px solid #666666;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.social-nav li img {
  margin: 12px auto;
  display: block;
}

.social-nav img,
.social-nav li:hover {
  transition: filter 0.5s;
  transition: border-color 0.5s;
}

.social-nav img:hover {
  filter: invert(56%) sepia(35%) saturate(334%) hue-rotate(356deg) brightness(89%) contrast(87%);
}

.social-nav li:hover {
  border-color: #9d8665;
  list-style-type: none;
}

.footer-second-container {
  display: flex;
  justify-content: space-between;
  background-color: #030303;
  margin-top: 30px;
}

.footer-second-container a {
  color: #fff;
}

.underline-footer {
  position: relative;
}

.underline-footer::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #666666;
}

/* MEDIA 1024PX*/

@media (max-width: 1024px) {

  /* HEADER 1024PX */
  .nav-adaptive {
    display: none;
  }

  .header-container {
    height: 130px;
  }

  .nav-menu {
    display: flex;
    z-index: 1000;
    position: fixed;
    left: -200%;
    top: 130px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #030303;
    width: 30%;
    height: 300px;
    font-size: 1.8em;
    transition: left .5s;
  }

  .nav-menu.active {
    left: 0;
    margin: 0;
  }

  .welcome-title.active {
    display: none;
  }

  .hamburger {
    position: fixed;
    right: 15px;
    top: 45px;
    cursor: pointer;
    z-index: 9999;
  }

  .bar {
    display: block;
    width: 34px;
    height: 2px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .container-logo {
    padding-left: 20px;
  }

  /* WELCOME SECTION 1024PX */


  .welcome-left {
    height: 585px;
    padding-left: 20px;
  }

  .slider-picture {
    padding-right: 20px;
  }

  .welcome-title {
    padding-top: 50px;
    padding-left: 5px;
  }

  .welcome-text {
    font-size: 24px;
    margin-bottom: 64px;
  }

  .section-title-dark {
    font-size: 50px;
  }

  .welcome-button {
    padding: 18px 45px;
    font-size: 20px;
  }

  .slider-buttons-container {
    max-width: 700px;
    margin-top: -60px;
  }

  .welcome-slider-buttons {
    padding: 0 90px 0 190px;
  }

  .slider-bullets {
    column-gap: 21px;
  }

  .slider-counter {
    font-size: 20px;
  }

  .slider-bullet img {
    width: 70%;
  }

  /* VISITING SECTION 1024PX */

  .visiting-section {
    margin-bottom: 5px;
  }

  .section-title {
    font-size: 50px;
    line-height: 50px;
  }

  .underline-title::after {
    bottom: -35px;
  }

  .container-adaptive {
    padding-left: 0;
    padding-right: 0;
  }

  .visiting-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .virtual-tour-container {
    gap: 0px;
    margin-top: 95px;
    margin-left: 50px;
    justify-content: space-around;
    margin-right: 50px;
  }

  .link {
    width: 330px;
  }

  .card-image {
    width: 330px;
    height: 215px;
  }

  .card-title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
    margin-top: 20px;
  }

  .card-subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: -4px;
    margin-top: -8px;
  }

  .card-text {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 43px;
  }

  .underline-h3::after {
    bottom: -12px;
    width: 150px;
  }

  .link:hover .underline-h3::after {
    width: 330px;
  }

  /* EXPLORE SECTION 1024PX*/

  .explore-section {
    height: auto;
    padding-left: 20px;
  }

  .container-explore-section {
    flex-direction: column;
    align-items: center;
  }

  .explore-section-left {
    width: 100%;
  }

  .section-explore-title {
    margin-top: -22px;
    margin-bottom: 75px;
  }

  #underline-title {
    width: 98%;
  }

  .explore-section-left .underline-title:after {
    bottom: -15px;
  }

  .description-text {
    font-size: 20px;
    margin-bottom: -21px;
    padding-right: 45px;
  }

  .description-text:last-child {
    display: none;
  }

  .container-explorer-section-image {
    width: 71.5%;
    margin-bottom: -18px;
    margin-top: 65px;
    margin-left: -19px;
    left: 0;
  }

  .explorer-section-image {
    width: 100%;
  }

  .explorer-slider {
    height: 97%;
    left: calc(55% + 23px);
  }

  /* VIDEO SECTION 1024PX*/

  .video-section {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
  }

  .section-video-text {
    display: none;
  }

  .video {
    margin-top: 5px;
  }

  .video-button-main-1024 {
    width: 152px;
    height: 152px;
    display: block;
    position: absolute;
    margin-top: 155px;
    margin-left: 415px;
    background: url("assets/svg/video-button-main1024.svg");
    border: none;
  }

  .video-button-main {
    display: none;
  }

  .video-nav {
    height: 60px;
  }

  .progress-bar {
    width: 62.5%;
    height: 4px;
  }

  .volume-control {
    width: 16%;
    height: 4px;
  }

  .video-slider-container {
    flex-wrap: wrap;
  }

  .video-slider-container iframe {
    width: 300px;
    height: 170px;
  }

  /* GALLERY SECTION 1024PX */
  .gallery-section {
    padding-left: 20px;
    padding-top: 53px;
    height: auto;
  }

  .gallery-title {
    margin-bottom: 53px;
  }

  .container-gallery-section {
    height: 1333px;
  }

  .container-gallery-inner-section {
    column-gap: 3.7%;
    height: 2102px;
    margin-left: 1px;
  }

  .gallery-picture {
    width: 31.5%;
  }

  .container-gallery-inner-section img:nth-child(1) {
    margin-top: 50px;
  }

  .container-gallery-inner-section img:nth-child(11) {
    margin-top: 50px;
  }

  /* TICKETS SECTION 1024PX */

  .tickets-section {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ticket-type-form {
    display: none;
  }

  .buy-tickets {
    margin-top: -7px;
    margin-bottom: -15px;
  }

  .buy-tickets-image-1920 {
    display: none;
  }

  .buy-tickets-image-1024 {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 440px;
  }

  .amount-form {
    margin-left: 88px;
    margin-top: -28px;
    width: 167px;
  }

  .amount-subtitle {
    text-align: left;
    margin-bottom: -34px;
  }

  .tickets-text-age {
    margin-top: 68px;
    margin-bottom: 7px;
  }

  .buy-tickets-total {
    letter-spacing: 3px;
    line-height: 50px;
    margin-top: 68px;
  }

  .buy-tickets-subtitle {
    font-size: 27px;
  }

  .buy-now-button {
    margin-top: 33px;
  }

  .button-quantity {
    border: 3px solid #030303;
    width: 168px;
    height: 44px;
  }

  /* CONTACTS SECTION 1024PX*/

  .contacts-section {
    height: auto;
    margin-bottom: -13px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .map-image {
    display: none;
  }

  .map-image-1024 {
    display: block;
    order: 2;
    width: 100%;
    max-width: 694px;
    height: 100%;
    max-height: 454px;
    padding-top: 16px;
  }

  .map-container {
    column-gap: 3.6%;
    padding-top: 35px;
  }

  .contacts-section-subtitle {
    font-size: 24px;
    padding-top: 1px;
  }

  .contacts-section-text {
    font-size: 20px;
    margin-top: -10px;
  }

  .contacts-section-text-first {
    margin-top: 43px;
    margin-bottom: -10px;
  }
  /* FOOTER 1024PX */

  .footer-section {
    height: auto;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: -13px;
  }

  .footer-container {
    margin-top: -25px;
    display: flex;
    flex-wrap: wrap;
  }

  .underline-footer::after {
    bottom: -10px;
  }

  .footer-logo {
    display: flex;
    margin-top: 0px;
    height: 50px;
    width: 12%;
  }

  .footer-nav {
    display: flex;
    column-gap: 120px;
    margin-left: 14px;
  }

  .footer-nav ul {
    float: none;
    margin-left: 0;
    padding: 0;
  }

  .social-nav {
    width: 35%;
    margin-left: -14px;
  }

  .social-nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-nav li {
    margin-left: 0;
  }

  .social-nav li img {
    margin: 16px auto;
  }

  .footer-second-container {
    margin-top: 36px;
    padding-bottom: 25px;
    padding-left: 5px;
  }
}

/* MEDIA 768PX*/

@media (max-width: 768px) {

  /* HEADER 768PX */

  .container-logo {
    padding-left: 20px;
    margin-top: -13px;
  }

  /* WELCOME SECTION 768PX */

  .slider-picture {
    padding-right: 0;
    margin-top: -23px;
  }

  .slider-picture-img {
    display: none;
  }

  .first-slider-picture-img {
    display: block;
    width: 95%;
    padding-left: 20px;
  }

  .welcome-main {
    flex-direction: column;
  }

  .welcome-left {
    height: 208px;
    margin-top: 10px;
    padding-left: 0;
  }

  .section-title-dark {
    font-size: 40px;
    line-height: 0;
  }

  .welcome-title {
    padding-top: 0;
    padding-left: 0;
    align: center;
  }

  .welcome-title h2 {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
  }

  .welcome-text {
    font-size: 20px;
    margin-bottom: 64px;
    margin-top: -10px;
  }

  .welcome-button {
    display: none;
  }

  .title-dark-adaptive {
    margin-top: 15px;
    margin-bottom: 60px;
  }

  .slider-buttons-container {
    position: unset;
    height: 100px;
    position: block;
    margin-top: 0;
  }

  .welcome-slider-buttons {
    column-gap: 45px;
    justify-content: center;
    padding: 0;
  }

  .slider-bullet img {
    width: 12px;
  }

  /* VISITING SECTION 768PX */

  .visiting-section {
    height: auto;
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 40px;
    line-height: 60px;
    margin-top: -45px;
  }

  .underline-title::after {
    bottom: -23px;
    max-width: 728px;
    width: 100%;
  }

  .virtual-tour-container {
    margin-top: 63px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .link {
    width: 280px;
  }

  .card-image {
    width: 280px;
    height: 180px;
  }

  .card-title {
    font-size: 22px;
    line-height: 24px;
  }

  .card-subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0px;
  }

  .card-text {
    padding-bottom: 23px;
  }

  .underline-h3::after {
    bottom: -13px;
  }

  /* EXPLORE SECTION 768PX*/

  .explore-section {
    padding-top: 92px;
  }

  .explore-section-left .underline-title:after {
    bottom: -53px;
  }

  .description-text {
    display: none;
  }

  .container-explorer-section-image {
    width: 97.5%;
    margin-bottom: -39px;
    margin-top: -1px;
    margin-left: -18px;
  }

  .explorer-slider {
    left: calc(55% + 20px);
  }

  /* VIDEO SECTION 768PX*/

  .video-section {
    padding-bottom: 63px;
  }

  .video {
    margin-top: -15px;
  }

  .video-button-main-768 {
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    margin-top: 110px;
    margin-left: 325px;
    background: url("assets/svg/video-button-main768.svg");
    border: none;
  }

  .video-button-main-1024 {
    display: none;
  }

  .video-slider-container {
    margin-top: 17px;
  }

  .video-slider-container iframe {
    width: 355px;
    height: 200px;
  }

  .video-slider-container iframe:last-child {
    display: none;
  }

  .video-slider-points {
    margin: 18px auto;
  }

  /* GALLERY SECTION 768PX */

  .gallery-title {
    margin-bottom: 71px;
  }

  .container-gallery-section {
    height: 1077px;
    padding-top: 15px;
  }

  .container-gallery-inner-section {
    margin-left: -2px;
    max-width: 768px;
  }

  .gallery-picture {
    width: 49%;
  }

  /* TICKETS SECTION 768PX */

  .tickets-section {
    padding-top: 84px;
  }

  .section-tickets-title {
    margin-bottom: 70px;
  }

  .buy-tickets {
    margin-bottom: -35px;
  }

  .buy-tickets-image-1024 {
    display: none;
  }

  .buy-tickets-image-1920 {
    display: block;
    width: 100%;
    max-width: 444px;
    height: 100%;
    max-height: 340px;
  }

  .amount-form {
    margin-left: 60px;
    width: 175px;
  }

  .tickets-text-age {
    margin-top: 72px;
    margin-bottom: 10px;
  }

  .buy-tickets-total {
    letter-spacing: 3.3px;
    margin-top: 73px;
  }

  .buy-tickets-subtitle {
    font-size: 28px;
  }

  .buy-now-button {
    margin-top: 3px;
  }

  .parallax {
    height: 300px;
  }

  /* CONTACTS SECTION 768PX*/

  .contacts-section {
    padding-bottom: 81px;
  }

  .map-image-1024 {
    display: none;
  }

  .map-image-768 {
    display: block;
    order: 2;
    width: 100%;
    max-width: 728px;
    height: 100%;
    max-height: 476px;
    padding-top: 16px;
  }

  .map-container {
    padding-top: 15px;
  }

  .contacts-section-subtitle {
    font-size: 20px;
  }

  .contacts-section-text {
    font-size: 18px;
  }

  /* FOOTER 768PX */

  .footer-logo {
    margin-top: -12px;
  }

  .footer-nav a,
  .footer-second-container {
    font-size: 18px;
  }
}
/* MEDIA 420PX*/

@media (max-width: 420px) {
  /* HEADER 420PX */
  .header-container {
    height: 90px;
  }

  .container-logo {
    margin-top: 0px;
  }

  .logo {
    margin-right: 20px;
  }

  .logo-img {
    width: 29px;
  }

  .louvre-img {
    width: 82px;
  }
  /* WELCOME SECTION 420PX */

  .section-title-dark {
    font-size: 28px;
  }

  .welcome-title {
    position: unset;
    padding-top: 25px;
  }

  .welcome-left {
    width: 100%;
    height: 170px;
    display: unset;
    padding-left: 0;
    margin-top: 0;
  }

  .welcome-text {
    font-size: 16px;
    margin-bottom: 64px;
    margin-top: 10px;
    text-align: center;
  }

  .title-dark-adaptive {
    margin-bottom: 40px;
  }

  .slider-picture {
    padding-top: 10px;
    margin-top: 0;
  }

  .first-slider-picture-img {
    width: 90%;
  }

  .slider-buttons-container {
    height: 80px;
  }

  .welcome-slider-buttons {
    column-gap: 10px;
  }

  .slider-bullets {
    column-gap: 5px;
  }

  /* VISITING SECTION 420PX */

  .visiting-section {
    margin-bottom: 1px;
  }

  .section-title {
    font-size: 28px;
    line-height: 40px;
  }

  .underline-title::after {
    max-width: 380px;
  }

  .card-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
    margin-bottom: 23px;
  }

  .card-subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .card-text {
    padding-bottom: 22px;
  }

  /* EXPLORE SECTION 420PX*/

  .section-explore-title {
    margin-top: -32px;
  }

  .explore-section-left .underline-title:after {
    bottom: -43px;
  }

  .explorer-section-image {
    margin-top: 14px;
  }

  .container-explorer-section-image {
    width: 95%;
    margin-top: -8px;
    margin-left: -20px;
  }

  .explorer-slider {
    top: calc(1% + 11px);
    left: calc(55% + 11px);
    height: 95%;
  }

  /* VIDEO SECTION 420PX*/

  .video-section {
    padding-top: 82px;
    padding-bottom: 5px;
  }

  .video {
    margin-top: -5px;
  }

  .video-button-main-420 {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    margin-top: 57px;
    margin-left: 165px;
    background: url("assets/svg/video-button-main420.svg");
    border: none;
  }

  .video-button-main-768 {
    display: none;
  }

  .video-nav {
    height: 55px;
  }

  .video-slider-container {
    margin-top: 41px;
  }

  .video-slider-container iframe {
    width: 180px;
    height: 100px;
  }

  .video-slider-container iframe:last-child {
    display: none;
  }

  .video-slider-points {
    margin: 35px auto;
    justify-content: center;
  }

  .video-slider-bullet img,
  .video-slider-arrow-left img,
  .video-slider-arrow-right img {
    width: 9px;
  }

  /* GALLERY SECTION 420PX */

  .gallery-section {
    padding-top: 46px;
  }

  .gallery-title {
    margin-bottom: 59px;
  }

  .container-gallery-section {
    height: 621px;
  }

  .container-gallery-inner-section {
    column-gap: 6%;
    margin-left: -4px;
  }

  .gallery-picture {
    width: 46.3%;
  }

  /* TICKETS SECTION 420PX */

  .buy-tickets-image-1920 {
    display: none;
  }

  .buy-tickets-image-420 {
    display: block;
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 160px;
  }

  .amount-form {
    margin-left: 102px;
  }

  .amount-subtitle {
    text-align: center;
    font-size: 16px !important;
    padding-top: 47px;
    margin-bottom: -62px;
  }

  .tickets-text-age {
    font-size: 16px !important;
    margin-bottom: 13px;
  }

  .buy-tickets-total {
    text-align: center;
    letter-spacing: 1px;
  }

  .buy-tickets-subtitle {
    font-size: 16px;
  }

  .buy-now-button {
    font-size: 16px;
  }

  /* CONTACTS SECTION 420PX*/

  .contacts-section {
    margin-bottom: -40px;
  }

  .map-image-768 {
    display: none;
  }

  .map-image-420 {
    display: block;
    order: 2;
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 248px;
    padding-top: 16px;
  }

  .map-container {
    padding-top: 30px;
  }

  .contacts-section-subtitle {
    font-size: 16px;
    padding-top: 0px;
  }

  .contacts-section-text {
    font-size: 16px;
    padding-bottom: 0px;
  }

  .contacts-section-text-first {
    margin-top: 43px;
    margin-bottom: -14px;
  }

  /* FOOTER 420PX */
}

.splide-video {
  width: 1440px;
}